{% extends 'base.html' %}

{% block content %}
<h2>Create new message</h2>

{% if invalid %}
<p class="red">
ERROR: Invalid message.
</p>
{% elif message_sent %}
<p class="green">
Your message was sent!
</p>
{% endif %}

<form action="/create_message" method="POST">
    <table>
        <tr>
            <td><textarea name="message" class="message_box" rows="4" cols="50"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="send message" class="submit"></td>
        </tr>
    </table>
</form>
{% endblock %}
